{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}


    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h2 class="panel-title">Authentication</h2>
            </div>

            <div class="panel-body">
                {% if error is defined and error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Error!</strong> {{ error }}
                </div>
                {% endif %}
                <div class="login-social-link">
                    {#{% for owner in hwi_oauth_resource_owners() %}
                        <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
                    {% endfor %}#}
                    <a href="{{ hwi_oauth_login_url('google') }}" class="btn btn-block btn-social btn-google-plus">
                        <i class="fa fa-google-plus"></i> Sign in with Google
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock hwi_oauth_content %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-social.css') }}">
{% endblock %}
