<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Evo Definitions{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <style tyle="text/css">
        .top-buffer { margin-top:20px; }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">evo.ripnet.us</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li{% if app.request.get('_route') == 'home' %} class="active"{% endif %}>
                            <a href="{{ path('home') }}">Home</a>
                        </li>
                        <li{% if app.request.get('_route') == 'download' %} class="active"{% endif %}>
                            <a href="{{ path('download') }}">Download ROMs</a>
                        </li>
                    </ul>
                </div>

            </nav>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>



<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
